body {
    width: 100%;
}

.customermove {
    margin: auto;
    width: auto;
}

.customermove .text {
    width: auto;
    cursor: pointer;


}

.customermove span {
    float: left;
}

.customermove .text img,
.customermove span img {
    width: 20px;
    margin: 0 5px;
}

.customermove .text span {
    position: relative;
    top: 3px;
}

.customermove .option-list {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    left: 5px;
    cursor: pointer;
}

.customermove .option-list a {
    text-decoration: none;
    color: black;

}

.customermove.active .option-list {
    max-height: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 0 0 0;
    padding: 0 15px 0 0;
    border: 0;
    padding-left: 30px
}