@charset "UTF-8";

.notice {
  width: 100%;
}

ul.tabs {
  float: left;
  list-style: none;
}

ul.tabs li {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li a {
  color: #666666;
  text-decoration: none;
}

.btn_search {
  background: #555;
  color: #fff;
  height: 40px;
}

.anno_boardList td a {
  text-decoration: none;
  color: black;
}

.menu_select {
  margin: 0 0 30px 100px;
  width: 150px;
}

.menu_select .text {
  width: 150px;
}

.menu_select span {
  float: left;
}

.menu_select .text img,
.menu_select span img {
  width: 20px;
  margin: 0 5px;
}

.menu_select .text span {
  position: relative;
  top: 3px;
}

.menu_select .option_list {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  left: 5px;
}

.menu_select .option_list a {
  text-decoration: none;
  color: black;
}

.menu_select.active .option_list {
  max-height: none;
}

.anno_table tbody tr td a {
  text-decoration: none;
  color: black;
}

.banner {
  text-align: center;
  margin: 0 0 100px 0;
}

.title {
  font-weight: bold;
}

.anno_table {
  font-size: 16px;
}

body {
  width: 100%;
}

.anno_table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* section.notice {
  padding: 80px 0;
} */

.page_title h1 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

.search_window {
  padding: 15px 0;
  background-color: #f9f7f9;
  margin-left: 100;
}

.search_wrap {
  position: relative;
  /*   padding-right: 124px; */
  margin: 0 auto;
  width: 564px;
}

.search_wrap input {
  height: 40px;
  width: 80%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}

.select {
  position: relative;
  float: left;
  width: 20%;
}

.option_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
}

.option_list {
  max-height: none;
}

.anno_search .search_window .search_wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}

.anno_search .search_window .search_wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.anno_table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: auto;
  max-width: 1400px;
}

.anno_table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}

.anno_table a:hover {
  text-decoration: underline;
}

.anno_table th {
  text-align: center;
}

.th_num {
  width: 100px;
  text-align: center;
}

.th_date {
  width: 200px;
}

.anno_table th,
.anno_table td {
  padding: 14px 0;
}

.anno_table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.anno_table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.anno_table tbody th p {
  display: none;
}

.paging_btn {
  margin: auto;
}

.page_wrap .write_bottom_wrap .btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.page_wrap .write_bottom_wrap .btn-blue {
  background-color: #4aa8d8;
  color: #fff;
  border-radius: 5px;
}

.page_wrap .write_bottom_wrap .btn-blue:hover,
.page_wrap .write_bottom_wrap .btn-blue:focus {
  background-color: #298cbf;
  border-color: #298cbf;
  color: #fff;
  border-radius: 5px;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  /* padding: 0; */
  margin: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

#bottom_form {
  margin: 30px 0;
}

.page_wrap {
  width: 100%;
  text-align: center;
  font-size: 0;
  float: left;
  margin: 30px 0;
}

.page_nation {
  display: inline-block;
  padding: 0 0 0 20%;
}

.page_nation .none {
  display: none;
}

.page_nation a {
  display: inline-block;
  margin: 0 3px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: #999999;
  text-decoration: none;
}

.page_nation .page_item a:hover,
.page_nation .page_item a:focus {
  text-decoration: underline;
  color: #3333ff;
}

.page_nation .page_item a {
  border: 1px solid #e6e6e6;
  color: 3399FF;
}

.write_form_wrap {
  margin: 0 auto;
}

.write_form {
  float: right;
}

.btn_board_top {
  background: #fff;
  border: 2px solid 000099;
  width: 90px;
  height: 30px;
  font-size: 13px;
}

ul.tabs {
  float: left;
  list-style: none;
}

ul.tabs li {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li a {
  color: #666666;
  text-decoration: none;
}

.search_wrap .btn_search {
  background: #555;
  color: #fff;
  height: 40px;
}

.anno_boardList td a {
  text-decoration: none;
  color: black;
}

.pagination_button {
  display: block;
  margin: auto 3px;
  float: left;
  width: auto;
  min-width: 25px;
  padding: 0 3px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: #999999;
  text-decoration: none;
}
