.ride-detail-wrapper{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment : fixed;
    height: 1200px;
    text-align: center;
}
