body {
  background-color: #fdfafa;
}

#create-board {
  margin: 100px 0;
}
#create-board .create-window {
  position: relative;
  /*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}

.container {
  margin: 0 auto;
}

#exampleFormControlTextarea1 {
  width: 100%;
  height: 300px;
  resize: none;
}

#select-wrap {
  width: 40px;
}

#b_type,
#option {
  width: 20%;
  height: 20px;
  margin-bottom: 10px;
}

#insert-btn-wrap {
  float: right;
}

.imgs_file {
  margin: 100px 0 0 0;
}

#insert-btn-wrap .btn-blue {
  background: #4aa8d8;
  color: #fff;
  height: 35px;
}

#insert-btn-wrap .btn-blue:hover .btn-blue:focus {
  background: #298cbf;
  border-color: #298cbf;
  color: #ffffff;
  border: 2px solid black;
}

#insert-btn-wrap .btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid black;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

input[type="file"] {
  display: none;
}

.my_button {
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 10px;
  background-color: #4aa8d8;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid black;
}

.my_button:hover,
.my_button:focus,
.my_button a {
  background-color: #298cbf;
  color: #fff;
}

.imgs_wrap {
  border: 2px solid #d6d6d6;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.imgs_wrap img {
  max-width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.ck-editor__editable {
  height: 400px;
}

.form-select {
  width: 100%;
}

.imgs_wrap {
  border: 2px solid #a8a8a8;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.imgs_wrap img {
  max-width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.image_wrap {
  border: 2px solid #a8a8a8;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image_wrap img {
  max-width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
