.card-wrapper{
    width: 90%;
    height: 380px;
    cursor: pointer;
}
.card-wrapper-2{
    height: 300px;
}
.card-img-top{
    height: 190px;
}
.card-detail-wrapper{
    width: 100%;


    .card-img-top{
        width: 200px;
        height: 200px;
        margin: auto;
    }
}