.header-title{
    font-size: 2.2rem;
    font-family: 'Pacifico', fantasy;
}
.main-wrapper{
    margin-right: 30px;
}
.main-image{
    width: 100%;
    height: 600px;
    margin-bottom: 5px;
}
.side-image{
    width: 95%;
    height: 150px;
    margin-right: 5px;
    object-fit: cover;
}

