.main-wrapper-1{
    cursor: pointer;
    height: 100%;

    .card-wrapper{
        margin-top: 20px;
        width: 190px;
        height: 340px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 11px 70px 4px;

        .card-body-wrapper{
            height: 100px;
            
            .card-body{
                height: 50px;
                margin-bottom: 15px;
            }
        }
        .card-main-img{
            border-radius: 20px;
            height: 130px;
    
            &:hover {
                border: 2px solid black;
                box-shadow: lightskyblue 10px 30px 70px 4px;
                transition: width 1s, height 1s, box-shadow 0.5s;
            }
        }
    }
}

.main-wrapper-2{
    width: 250px;
    height: 350px;
    margin-bottom: 10px;
    
    .card-wrapper{
        width: 100%;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 70px 4px;
        
        .card-body{
            height: 100px;
        }

        .card-main-img{
            position: relative;
            top: 10px;
            margin: auto;
            width: 130px;
        }
        .btn-wrapper{
            .btn{
                margin-left: 43px;
                margin-top: 40px;
            }
        }
    }
}

.card-detail-wrapper{
    width: 100%;
    animation: detail-show 0.8s;

    .card-main-img{
        position: relative;
        top: 10px;
        width: 200px;
        height: 200px;
        margin: auto;
    }
    .btn-wrapper{
        .btn{
            margin-left: 345px;
        }
    }

    @keyframes detail-show {
        from {
          opacity: 0;
          margin-top: -20px;
        }
        to {
          opacity: 1;
          margin-top: 0;
        }
      }
}

